{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/DP.jpg' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Md. Fazley Rabbi, a Computer Science graduate.</h1>
  </div>
</div>

<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact bg-ligth py-5">
      <div class="container">

          <div class="section-title">
              <h2>Contact</h2>
              <p>In case you want to contact me for any further information, here is the way to do it!</p>
          </div>

          <div class="row" data-aos="fade-in">

              <div class="col-lg-5 d-flex align-items-stretch">
                  <div class="info">
                      <div class="address">
                          <i class="bi bi-geo-alt"></i>
                          <h4>Location:</h4>
                          <p>Hossainigonj, H/no: 44, Rajshahi-6000</p>
                      </div>

                      <div class="email">
                          <i class="bi bi-envelope"></i>
                          <h4>Email:</h4>
                          <p>fazleyrabbi666@gmail.com</p>
                      </div>

                      <div class="phone">
                          <i class="bi bi-phone"></i>
                          <h4>Call:</h4>
                          <p>+88 01521300380</p>
                      </div>

                  </div>

              </div>

              <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                  <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                      <div class="row">
                          <div class="form-group col-md-6">
                              <label for="name">Your Name</label>
                              <input type="text" name="name" class="form-control" id="name" required>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="name">Your Email</label>
                              <input type="email" class="form-control" name="email" id="email" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="name">Subject</label>
                          <input type="text" class="form-control" name="subject" id="subject" required>
                      </div>
                      <div class="form-group">
                          <label for="name">Message</label>
                          <textarea class="form-control" name="message" rows="10" required></textarea>
                      </div>
                      <div class="my-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Thank you!</div>
                      </div>
                      <div class="text-center"><button type="submit">Send Message</button></div>
                  </form>
              </div>

          </div>

      </div>
  </section><!-- End Contact Section -->

</div>

<!-- ======= Footer ======= -->
  <footer id="footer">
      <div class="container">
          <div class="copyright">
              &copy; Copyright <strong><span>Md. Fazley Rabbi</span></strong>
          </div>

      </div>
  </footer>
  <!-- End  Footer -->

{% endblock %}
